.frame-A
{
    width:900px;
}


.frame-A-1
{
    border:3px solid black;
    width:808px;
    height:406px;
    margin-left:54px;
}
.frame-A-2
{
    display:none;
}
.frame-A-storage
{
    display:flex;
    flex-direction:column-reverse;
    transform-origin: top;
    transform:scale(0.5);
}
/*****/
.frame-B
{
    width:900px;
    display:block;
}


.frame-B-1
{
    display:none;
    border:3px solid black;
    width:803px;
    height:406px;
    margin-left:54px;
}
/*****/
.frame-C
{
    width:900px;
    display:block;
}


.frame-C-1
{
    /* display:none; */
    border:3px solid black;
    width:803px;
    height:406px;
    margin-left:54px;
}
